:root {
  --body-background-color: #fff;
  --counter-background-color: #0000a5;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: var(--body-background-color);
}
img {
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  width: 3.125rem;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18.75rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.loader::before,
.loader::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1.25rem solid;
  border-color: transparent;
  transition: 0.3s all;
  animation: rotate 5s infinite;
}
.loader::before {
  width: 100%;
  height: 100%;
  border-top: 1.25rem solid var(--counter-background-color);
  border-bottom: 1.25rem solid var(--counter-background-color);
}
.loader::after {
  width: 70%;
  height: 70%;
  border-left: 1.25rem solid var(--counter-background-color);
  border-right: 1.25rem solid var(--counter-background-color);
  animation-delay: 1s;
}
@keyframes rotate {
  0%,
  100% {
    transform: translate(-50%, -50%) rotate(0);
  }
  50% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
