@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
:root {
  --body-background-color: #222;
  --counter-background-color: #eee;
}
@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Press Start 2P", sans-serif;
  background: var(--body-background-color);
}
img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
}
.counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 100px;
  font-size: 30px;
  background: var(--counter-background-color);
  counter-reset: num var(--num);
  animation: 5s counter;
  animation-fill-mode: forwards;
}
.counter::before {
  position: absolute;
  content: counter(num) "%";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.counter::after {
  position: absolute;
  content: "";
  bottom: 10px;
  left: 10px;
  width: 0px;
  height: 10px;
  background: var(--body-background-color);
  animation: 5s loading;
  animation-fill-mode: forwards;
}
@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 100;
  }
}
@keyframes loading {
  from {
    width: 0px;
  }
  to {
    width: calc(100% - 20px);
  }
}
