:root {
  --background-color: #fff;
  --border-color: #000;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  width: 3.125rem;
}
button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.625rem 1.25rem;
  font-size: 1.875rem;
  font-weight: 600;
  outline: none;
  border: 0.125rem solid var(--border-color);
  background: var(--background-color);
  transition: 0.3s all;
}
button::before,
button::after {
  position: absolute;
  content: "";
  background: var(--border-color);
  transition: 0.3s all;
}
button::before {
  top: 0;
  right: 0;
  width: 0.375rem;
  height: calc(100% + 0.25rem);
  transform: translate(0.4375rem, 0.0625rem) skewY(45deg);
}
button::after {
  bottom: 0;
  left: 0;
  width: calc(100% + 0.1875rem);
  height: 0.375rem;
  transform: translate(0.0625rem, 0.5rem) skewX(45deg);
}

button:active {
  transform: translate(calc(-50% + 0.375rem), calc(-50% + 0.375rem));
}
button:active::before {
  width: 0rem;
  right: 0.375rem;
}
button:active::after {
  height: 0rem;
  bottom: 0.375rem;
}
