:root {
  --body-background-color: #000;
  --button-background-color: linear-gradient(
    180deg,
    rgba(104, 63, 234, 1) 71%,
    rgba(164, 124, 243, 1)
  );
  --text-color: #fff;
  --top-inset-shadow: rgba(255, 255, 255, 0.4);
  --bottom-inset-shadow: rgba(0, 0, 0, 0.2);
  --box-shadow: rgba(255, 255, 255, 0.07);
  --active-button-drop-shadow: #db3eb1;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: var(--body-background-color);
}
img {
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  width: 3.125rem;
}
button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.25rem 1.875rem;
  font-size: 48px;
  border: none;
  outline: none;
  border-radius: 48px;
  color: var(--text-color);
  background: var(--button-background-color);
  box-shadow: inset 0rem 0.0625rem 0 var(--top-inset-shadow),
    inset 0rem -0.25rem 0 var(--bottom-inset-shadow),
    0rem 0rem 0rem 0.25rem var(--box-shadow);
  transition: 0.3s all;
  cursor: pointer;
}
button:hover {
  filter: drop-shadow(0 0 0.9375rem var(--active-button-drop-shadow))
    drop-shadow(0 0 3.125rem var(--active-button-drop-shadow)) contrast(2)
    brightness(2);
}
