:root {
  --input-background-color: #fff;
  --border-input-color: #b1b5c6;
  --active-input-color: #0043ff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  width: 3.125rem;
}
.input-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input {
  width: 12.5rem;
  height: 2.5rem;
  padding-left: 0.9375rem;
  border: 0.125rem solid var(--border-input-color);
  border-radius: 0.3125rem;
  outline: none;
  transition: 0.3s all;
}
label {
  position: absolute;
  top: 50%;
  left: 0.625rem;
  transform: translateY(-50%);
  padding: 0 0.125rem;
  color: var(--border-input-color);
  transition: 0.3s all;
}
input:is(:focus, :valid) {
  border: 0.125rem solid var(--active-input-color);
}
input:is(:focus, :valid) ~ label {
  top: 0;
  left: 0;
  transform: translateY(-0.625rem) scale(0.7);
  background: #fff;
  color: var(--active-input-color);
}
