:root {
  --body-background-color: #000;
  --switch-button-background-color: #333;
  --active-switch-button-background-color: #0073dd;
  --ball-background-color: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.position-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body {
  background: var(--body-background-color);
}
img {
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  width: 3.125rem;
}
input {
  width: 6.25rem;
  height: 2.5rem;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}
span {
  display: inline-block;
  width: 5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  background: var(--switch-button-background-color);
  transition: 0.3s all;
}
span::before {
  position: absolute;
  top: 50%;
  left: 0.3125rem;
  content: "";
  transform: translateY(-50%);
  width: 1.875rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--ball-background-color);
  transition: 0.3s all;
}
input:checked ~ span::before {
  transform: translateY(-50%);
  left: calc(100% - 2.1875rem);
}
input:checked ~ span {
  background: var(--active-switch-button-background-color);
}
